<h3>Add Expense</h3>
<form method = 'post' action = "/year/<%= @year_id %>/list/<%= @list_id %>">
	<input name = 'expense' value = <%= params['expense']%>>
	<input name = 'cost' value = <%= params['cost'] %>>
	<button type = 'submit'>Submit</button>
</form>