<h4><a href = '/add'>Add Year?</a></h4>
<% if session[:years] %>
	<h2>Years:</h2>
	<li>
		<% @years.each do |year| %>
			<ul><a href = '/<%= year[:id] %>'><p><%= year[:year] %><p></ul>
		<% end %>
	</li>
<% end %>
