<% if session[:years] %>
	<h2><li>Years:</h2>
		<% @years.each do |year| %>
			<ul>
				<a href = '/year/<%= year[:id] %>'><h3><%= year[:year] %></h3></a>
					<h3>Yearly Cost: <%= display_cost(home_year_costs(year).to_f) %></h3>
			</ul>

			<br>

		<% end %>
	</li>
<% end %>

<% content_for :add_link  do %>
	<h3><a class = "add_link" href = '/add'>Add Year</a></h3>
<% end %>