<!doctype html>
<html>
	<head>
		<link rel = "stylesheet" href = "/stylesheets/application.css/?v=3">
	</head>	

	<header id = "banner">
		<h1 id = "site_title">Expense Tracker</h1>
		<%= yield_content :add_link %>
	</header>

	<%= flash_message(:success) %>
	<%= flash_message(:error) %>

	<body>
		<%= yield %>
	</body>

</html>