<h2><%= @year[:year] %></h2>

<h3><a href = '/<%= @year_id %>/add_list'>Add Expense Category?</a></h3>

<% unless @expense_lists.empty? %>
	<li>
	<% @expense_lists.each do |expense_list| %>
		<ul><h5><%= expense_list[:name] %></h5></h5>
	<% end %>
	</li>
<% end %>